#offcanvasNavbar {
  width: 16rem;
  background-color: #f7f9fc !important;
}
body div {
  justify-content: left !important;
}
body div button {
  border: none !important;
  width: 2.2rem;
  padding: 5px;
}
body div button:hover {
  background-color: #eaeaea;
}
.offcanvas-backdrop.show {
  opacity: 0 !important;
}

body div button.btn:hover {
  background-color: #eaeaea;
}
.btnCalc {
  width: 6rem !important;
  height: 6rem !important;
  background-color: #f9f9f9 !important;
}
.btnEqual {
  background-color: #0067c0 !important;
}

.inputStyle {
  border: none;
  font-size: 35px;
  font-weight: bold;
  text-align: right;
  padding: 2px 10px 20px;
  outline: 0px !important;
}
.inputStyleTop {
  border: none !important;
  font-size: 15px !important;
  text-align: right !important;
  padding: 5px 0px !important;
  outline: 0px !important;
}
